.games {
  color: white;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-section a {
  color: white;
  background-color: var(--main-color);
  font-weight: 700;
  text-decoration: none;
  padding: var(--space-2xs) var(--space-s);
}
.title-section a:hover {
  text-decoration: underline;
}
