.container {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
  margin-bottom: var(--space-m);
}

.search {
  padding: var(--space-2xs) var(--space-s);
  min-width: 400px;
}

.left-section {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
}
